#carousel-outer {
  border-radius: 20px;
  background-color: #AAA;
  width: 432px;
  height: 200px;
  padding: 2%;
  margin: 2% auto;
  position: relative;
}
#carousel-outer a {
  font-size: 8em;
  color: #000;
  text-decoration: none;
}
#carousel-inner {
  float: left;
  border: 2px solid #FFF;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
#carousel-inner a {
  width: 100%;
  height: 100%;
}
#carousel-inner a img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.shown {
  display: inline-block;
  position: relative;
}
.hiden {
  display: none;
}
#previousLink {
  left: 2%;
}
#nextLink {
  right: 2%;
}
#previousLink,
#nextLink {
  float: left;
  text-align: center;
  text-shadow: 2px 2px #CCC;
  line-height: 200px;
  vertical-align: middle;
  position: absolute;
  z-index: 100;
}
#previousLink:hover,
#nextLink:hover {
  color: #FFF;
}
