html,
body,
header,
h1,
span,
p,
nav,
ul,
li,
hr,
section,
div,
footer,
form,
input,
label,
button {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Tahoma', Calibri, Arial, sans-serif;
  font-size: 62.5%;
  width: 100%;
}
body header h1 {
  font-size: 5em;
  padding: 2% 0 2% 2%;
}
body header h1 span {
  display: block;
  padding-left: 10%;
}
body header p {
  display: inline-block;
  font-size: 1.7em;
  position: absolute;
  top: 10%;
  right: 10%;
}
body header p a {
  color: #000;
  text-decoration: none;
}
body header p a:hover {
  border-radius: 10px;
  background-color: #4CB849;
  padding: 10px;
}
body header nav {
  font-size: 2em;
  margin-bottom: 1%;
}
body header nav ul {
  list-style: none;
  margin-left: 10%;
}
body header nav ul li {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 20px;
}
body header nav ul li a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
}
body header nav ul .loggedUser {
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 20px;
  color: #CCC;
}
body header nav ul .loggedUser a {
  color: #888;
  text-decoration: none;
  padding: 10px 20px;
}
body section h2 {
  font-size: 3em;
  text-align: center;
}
body section p {
  font-size: 1.8em;
  padding: 2%;
}
body section form {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 2em;
  width: 250px;
  padding: 10px;
  margin: 20px auto;
}
body section form input {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px 10px;
}
body section form button {
  font-size: 1em;
  padding: 5px;
  margin-top: 20px;
}
body section .photoAlbum {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 30px;
}
body section .team {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
}
body footer {
  font-size: 1.2em;
}
body footer p {
  text-align: center;
  padding: 1%;
}
