body {
    background: url("../design/BackGround.jpg") fixed;
}

header {
    border:1px solid white;
    border-radius: 5px;
    display: inline-block;
    width:80%;
    margin-left: 4%;
}

aside {
    border:1px solid white;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin-right: 5%;
    width: 10%;
    height: 620px;
}

main {
    border:1px solid white;
    border-radius: 5px;
    display: inline-block;
    height: 380px;
    margin-top: 20px;
    width:80%;
    margin-left: 4%;
}

footer {
    border:1px solid white;
    border-radius: 5px;
    display: inline-block;
    width:80%;
    margin-left: 4%;
    margin-top: 18px;
    height: 120px;
}

header div{
    display: inline-block;
}

form {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 2em;
    width: 25%;
    height: 25%;;
    padding: 10px;
    margin: 20px auto;
    top: 25%;
    color: #fff;
}

form input {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 auto;
    padding: 5px 10px;
}

form button {
    border-radius: 5px;
    color: #FFF;
    background-color: #3498db;
    font-size: 1em;
    padding: 5px;
    margin: 20px;
}

form button:hover {    
    background: #e8c354;
    transition: background-color 0.5s ease 0s;
}

div {
    border-radius: 5px;
}

#userPanel{
    width: 265px;
    margin: 8px;
    border: 1px solid white;
    vertical-align: top;
}

.btn {
    width: 120px;
    margin: 2%;
    vertical-align: middle;
    background: #3498db;
    border-radius: 2px;
    text-shadow: 0 0 3px #666666;
    box-shadow: 0 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 12px;
    border: solid #c6cdd1 2px;
}

.btn:hover {
    font-size: 16px;
    padding: 8px;
    background: #e8c354;
    text-decoration: none;
    transition: background-color 0.5s ease 0s;
}

#headerTitle{
    font-size: 3em;
    color: #FFF;
    height: 75%;
    margin: 8px;
    width: 58%;
    border: 1px solid white;
    text-align: center;
}

#albumsTitle{
    border: 1px solid #FFF;
    border-radius: 5px;
    background-color: #3498db;
    font-size: 1.4em;
    color: #FFF;
    text-align: center;
    padding: 0;
    width: 90%;
    margin: 5%;
}

.album {
    margin: 15% auto;
    width: 75%;
    height: 75px;
    border: 1px solid white;
    /*display: inline-block;*/
}

.albumName {
    color: white;
    margin: 5px;
    display: inline-block;
}

.albumPicCount {
    color: white;
    margin: 5px;
    display: inline-block;
}

.deleteButton {
    float: right;
    width: 20px;
    height: 20px;
    background: url("../design/Cross.png") fixed;
}

.images {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: inline-block;
}



.virtualBackgroundDisabled {
    display: none;
}

.virtualBackgroundEnabled {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

#searchAlbum{
    width:100px;
}
#currentImagesSlider{
    width: 100%;
    height: 100px;
    display: inline-block;
}
#canvas{
    width: 100px;
    height: 100px;
}
#bigPictureHolder{
    width: 100%;
    height: 100%;
    background-color: #000000;
}
#pictureItself{
    display: inline-block;
    border: 1px solid white;
    margin-left: 20px;
   width: 70%;
    height: 100%;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#pictureComments{
    display: inline-block;
    float: right;
    border: 1px solid white;
    background-color: slategray;
    width: 24%;
    margin-right: 20px;
    height: 100%;
}
.comment{
    width: 100%;
    height: 40px;
    display: inline-block;
}
.comment span {
    margin-left: 25px;
}
#slideshow #slideshowWindow {
   width: 800px;
    height:100px;
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
    border: 1px solid white;
    float: right;
    margin-top: 10px;
}

#slideshow #slideshowWindow .images {
    margin:0;
    padding:0;
    width:100px;
    height:100px;
    float:left;
    position:relative;

}
.arrow{

    position: absolute;
    z-index: 10;
    top:45%;
    width: 60px;
    height: 59px;
    display: none;
}
.arrow:hover{
    cursor:default;
}
#leftArrow{
    background-image : url('../design/leftArrow.png');
    top:25px;
    left:20px;
}
#rightArrow{
    background-image : url('../design/rightArrow.png');
    top:25px;
    right:25px;
}

@media only screen and (max-width : 950px) {
    #headerTitle {
        display: block;
        border: none;
        width: 98%;
    }

    #userPanel {
        display: block;
        border: none;
        margin: 10px auto;
    }

    aside {
        display: block;
        clear: both;

    }
}