body {
    background: url("../design/BackGround.jpg") fixed;
}

header{
    border:1px solid white;
    display: inline-block;
    width:80%;
    margin-left: 4%;
    height: 75px;
}
aside{
    border:1px solid white;
    display: inline-block;
    float: right;
    margin-right: 5%;
    width: 120px;
    height: 620px;
}
header,aside{
    margin-top: 10px;
}
main{
    border:1px solid white;
    display: inline-block;;
    height: 380px;
    margin-top: 20px;
    width:80%;
    margin-left: 4%;
}
footer{
    border:1px solid white;
    display: inline-block;;
    width:80%;
    margin-left: 4%;
    margin-top: 18px;
    height: 120px;
}
#albumsHolder,#albumsTitle{
    border:1px solid white;
    display: inline-block;
    width: 85%;
    margin: 10px;
}
#albumsTitle{
    height: 100px;
}
#albumsHolder{
    height: 300px;
}
.album{
    margin: 15px;
    width: 75%;
    height: 75px;
    border: 1px solid white;
    display: inline-block;
}
.albumName{
    margin: 5px;
display: inline-block;
}
.albumPicCount{
    margin: 5px;
    display: inline-block;
}
.deleteButton{
    float: right;
    width: 20px;
    height: 20px;
    background: url("../design/Cross.png") fixed;
}
header div{
    display: inline-block;
}
#userPanel{
    width: 300px;
    margin: 8px;
    height: 75%;
    border: 1px solid white;
    float: left;
}
#headerTitle{
    height: 75%;
    margin: 8px;
    margin-left: 10%;
    width: 58%;
    border: 1px solid white;
}
#headerTitle h1{
    text-align: center;
}
